<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834133458789-pp6skr2ohaitema19ufq54po9brguibn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834133458789-pp6skr2ohaitema19ufq54po9brguibn</string>
	<key>API_KEY</key>
	<string>AIzaSyA6rCbQQp9vVmBMcmOsNDhEgtfY3XEwGYE</string>
	<key>GCM_SENDER_ID</key>
	<string>834133458789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutterflow.livevideostream</string>
	<key>PROJECT_ID</key>
	<string>sacred-sound</string>
	<key>STORAGE_BUCKET</key>
	<string>sacred-sound.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834133458789:ios:0b858154d2d9155235ab8c</string>
</dict>
</plist>